<div class= "banner">

</div>

<section>
<div>
	<h2 style="text-align: center">CATEGORIAS MAS BUSCADAS</h2>
</div>
</section>
<br>

<div class="container-custom">

	<div class="row">

		<div class="col-md-6 " >
			<%=image_tag("moderno.jpg")%>
		</div>

		<div class="col-md-2">
			<div>
				<%=image_tag("abstracto.jpg")%>
			</div>
			<div>
				<%=image_tag("naturaleza.jpg")%>
			</div>
		</div>

		<div class="col-md-2">
			<div>
				<%=image_tag("animal.jpg")%>
			</div>
			<div>
				<%=image_tag("desnudos.jpg")%>
			</div>
		</div>

		<div class="col-md-3">
			<div>
				<%=image_tag("retratos.jpg")%>
			</div>
			<div>
				<%=image_tag("ninos.jpg")%>
			</div>
		</div>

	</div>	

</div>

